html, body{
	height:100%;
}
body{
	background:#F1F1F2;
}
div{
	padding-top:100px;
}
.text{
	text-align:center;
	margin:auto;
	font-family: 'Krub', sans-serif;
	font-size:4em;
	color:#222222;
}
i{
	color:#222222;
}
.center{
	text-align:center;
}